@import url('https://fonts.cdnfonts.com/css/product-sans');

#root {
    // make navbar sticky
    position: absolute;

    // navbar is flex, so this ensures it doesn't collapse
    width: 100%;

    font-family: 'Product Sans', sans-serif;
}