.arrow {
    z-index: 3;

    position: absolute;

    top: 50%;
    transform: translateY(-50%);

    margin: 0 .8rem;

    cursor: pointer;

    .arrow-icon {
        width: 1.4rem;
        height: 1.4rem;
    }

    &.arrow-left {
        left: 0;
        & .arrow-icon {
            transform: rotate(-90deg);
        }
    }
    
    &.arrow-right {
        right: 0;
        & .arrow-icon {
            transform: rotate(90deg);
        }
    }

    opacity: 0;
    transition: opacity .5s ease;
    &.active { opacity: 1; }
}

.side {
    display: grid;
    position: absolute;

    width: 100%;
    
    overflow: hidden;
    
    place-items: center;
}

#left-side {
    z-index: 2;

    height: calc(100vh - 80px);
    width: 100vw;

    transition: width .75s ease;

    box-shadow: 2px 0px 0px 0px #000000;

    background: #FFFFFF;
    
    overflow: hidden;
}

#right-side {
    z-index: 1;
}